In [3]:
%run '../import_dbase.ipynb'
%run '../import_dashboard.ipynb'
dashboard('004')

KeyboardInterrupt: